body {
  font-family: "Montserrat";
  text-align: center;
}

p {
  color: #8f8f8f;
}

/* Containers */

.container-fluid {
  padding: 7% 15%;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

/* Title Section */

#title {
  background-color: #393e46;
  color: #fff;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 10% 7%;
}

/* Features Section */

#features {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
  padding-top: 1rem;
}

.feature-box {
  padding: 4.5%;
  background-color: bisque;
  border-radius: 10%;
  margin: auto;
  border-color: black;
  border-style: solid;
  margin: 5px;
}

.feature-box:hover {
  color: #ff4c68;
  background-color: #3f3f44;
}

@media (max-width: 1366px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
